.container__accordion {
	width: 539px;
	display: inline-block;
	vertical-align: top;
	
	.news__title {
		padding-left: 15px;
	}
}
.container__accordion {
	width: 560px;
	padding: 1px 10px;
}
.accordion__panel {
	position: relative;
	padding: 5px;
	display: block;
	font-size: 20px;
	margin: -5px 0px;
	
}
.panel__marker {
	display: block;
	position: absolute;
	text-align: center;
	line-height: 33px;
	font-size: 23px;
	font-weight: 100;
	top: 5px;
	left: 3px;
	width: 37px;
	height: 37px;
	border: 1px solid #e8e8e8;
}
.panel__marker--show {
	color: #fff;
	background-color: #f4b60d;
}
.panel__marker--collapse {
	color: #000;
	background: #fff;
}
.panel__title {
	display: inline-block;
	width: 510px;
	font-size: 13px;
	font-weight: 500;
	line-height: 19px;
	text-transform: uppercase;
	border: 1px solid #e8e8e8;
	margin-left: 35px;
	padding: 9px 9px 9px 13px;
}
.panel__title--show {
	color: #fff;
	background-color: #f4b60d;
}
.panel__title--collapse {
	color: #2a2d32;
	background: #fff;
}
.accordion__content {
	padding: 26px 15px 20px 38px;
	text-align: justify;
	color: #8a8a8a;
	font-family: Arial;
	font-size: 13px;
	font-weight: 400;
	line-height: 20px;
}
.accordion__content--show {
	display: block;

}
.accordion__content--collapse {
	display: none;
}